.top-nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.top-nav-bar__list{
    display: flex;
    list-style: none;
    width: auto;
    margin-right: 50px;
}

.top-nav-bar__list li{
    margin-right: 25px;
}

.login-input{
    border-radius:20px;
    height:40px;
    background-color: #f5f5f5;
}

.login-form .ant-input{
    background-color: #f5f5f5;
}