
body {
  margin: 0;
}

.rti--container {
  --rti-bg: #fff;
  --rti-main: #00AB55;
  --rti-radius: 0.35rem;
  --rti-s:0.5rem;
  --rti-tag: #d8f4e6;
  --rti-tag-remove: #e53e3e;
  border: 1px solid gray;
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}




